@{
    ViewData["Title"] = "Home Page";
}
<body>
    @*Static pictures from folder wwwroot/Gallery*@
    <div class="scroll-container" id="content">
        <img src="/Gallery/Ferrari.jpg" alt="Ferrari GTO">
        <img src="/Gallery/Rimac.jpg" alt="Rimac Nevera">
        <img src="/Gallery/Bugatti.jpg" alt="Bugatti Divo">
        <img src="/Gallery/Beetle.jpg" alt="VW Beetle">
        <img src="/Gallery/Miura.jpg" alt="Lamborgini Miura">
        <img src="/Gallery/Audi.jpg" alt="Audi Concept">
        <img src="/Gallery/Dom.jpg" alt="Doms Charger">
    </div>

    <script>const content = document.getElementById('content');

        // Prevent the default behavior of the wheel event so that pictures scroll sideways
        content.addEventListener('wheel', (event) => {
            content.scrollLeft += event.deltaY;
            event.preventDefault();
        });
    </script>
</body>